<h1>New Meeting</h1>

<%= form_tag(meetings_url, method: 'post') do %>
  <div>
    <%= label_tag :held_on %><br />
    <%= text_field_tag :held_on %>
  </div>

  <div>
    <%= label_tag :course_id %><br />
    <%= number_field_tag :course_id %>
  </div>

  <div>
    <%= submit_tag "Create Meeting" %>
  </div>
<% end %>
