<h1>Add a New Course</h1>

<%= form_tag(course_url(@course), :method => "post") do %>
  <div>
    <%= label_tag :title, "Title:" %>
    <%= text_field_tag :title, @course.title %>
  </div>
  <div>
    <%= label_tag :department, "Department:" %>
    <%= text_field_tag :department, @course.department %>
  </div>
  <div>
    <%= label_tag :number, "Course Number:" %>
    <%= text_field_tag :number, @course.number %>
  </div>
  <div>
    <%= submit_tag "Add New Course" %>
  </div>
<% end %>